[submodule "grgl"]
	path = grgl
	url = https://github.com/CornellHPC/grgl.git
	branch = map-muts-instrumenting
[submodule "grapp"]
	path = grapp
	url = https://github.com/CornellHPC/grapp.git
	branch = polarization-instrumentation
